.hostingFigure
{
    background-color: white;
	border-radius: 15px;
	padding: 5px;
	margin: 0 15px 30px 15px;
	box-shadow: 0px 2px 15px lightgrey;
}

.hostingFigure:hover
{
    transform: scale(1.10);
}

.hotelCover
{
    width: 233px;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.hostingFigure figcaption
{
    padding-left: 10px;
}

.hostingFigure h3
{
    font-size: 0.8em;
	padding: 3px 0;
	margin: 0;
}

.hostingFigure p
{
	font-size: 0.6em;
	padding: 5px 0;
	margin: 0;
	
}

.gradingStars i
{
    padding-right: 3px;
}

.gradingStars i[data-active=true]
{
    font-size: 0.8em;
    color: #0065FC;
}

.gradingStars i[data-active=false]
{
    font-size: 0.8em;
    color: #d9d9d9;
}