.sectionActivities
{
    margin-top: 50px;
}

.titleActivities
{
    font-size: 1em;
}

.blocActivities
{
    display: flex;
    justify-content: center;
}

.imgActivities
{
    display: flex;
}

.bigActivities .imgActivities
{
    width: 245px;
	height: 300px;
	object-fit: cover;
}


.smallActivities .imgActivities
{
    width: 245px;
	height: 130px;
	object-fit: cover;
}


@media only screen and (max-width : 1025px) and (min-width : 767px)
{
    .blocActivities
    {
        flex-wrap: wrap;

    }

    .sectionActivities figure
	{
		margin-left: 0;
		margin-right: 35px;
		
	}

    .titleActivities
    {
        text-align: center;
    }

}

@media screen and (max-width: 767px)
{
    .blocActivities
    {
        flex-direction: column;
    }

    .titleActivities
    {
        text-align: center;
    }

    .sectionActivities figure
    {
       max-width: 245px;
       margin-left: auto;
       margin-right: auto;
    }
}