p
{
    font-size: 0.7em;
}

.formulaire form
{
	padding: 0;
	margin-bottom: 30px;
}

.localisation
{
	background-color: #F2F2F2;
	border: 1px solid rgba(243, 243, 243, 0.938);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 13px;
}

.formulaire input
{
	border: 1px solid #F2F2F2;
	border-right: none;
	padding: 13px 0 13px 10px;
	margin-left: -4px;
	margin-right: -4px;
	width: 180px;
}

.searchBtn:active
{
	font-weight: bold;
}

.searchBtn
{
	background-color: #0065FC;
	border: 1px solid rgb(87, 87, 255);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: white;
	padding: 13px 15px;
}

.infobulle
{
	display: flex;
	
}

.infobulle .infobulletexte
{
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.infobulle i
{	
	color: #0065FC;
	border: 1px solid rgb(217, 217, 217);
	border-radius: 50%;
	padding: 6px 8px 6px 8px;
}


/*--------------------------------------MEDIA QUERRIES----------------------------------------------*/

@media only screen and (min-width : 1500px)
{
	.blocPage
	{
		width: calc(100% - 300px);
		margin: auto;
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1499px)
{
	.blocPage
	{
		width: calc(100% - 90px);
		margin: auto;
	}
}

@media only screen and (min-width : 1159px) and (max-width : 1202px)
{
	.sectionHosting figure img
	{
		width: 220px;
	}
}

@media only screen and (min-width : 1093px) and (max-width : 1160px)
{
	.sectionHosting figure img
	{
		width: 200px;
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1194px)
{
	.sectionHosting figure img
	{
		width: 170px;
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1201px)
{
	/* activités */
	.sectionActivities figure
	{
		margin-left: 0;
		margin-right: 5px;
		
	}
}

@media only screen and (max-width : 1025px) and (min-width : 767px)
{
	.blocPage
	{
		width: auto;
		margin: 0 15px;
	}
	
	.sectionHostingAside
	{
		flex-direction: column-reverse;
		margin: 0 15px;
	}

	.sectionHosting
	{
		width: 100%;
	}

	.flexFigure
	{
		display: flex;
	}

	.sectionActivities figure
	{
		margin-left: 0;
		margin-right: 5px;
		width: 245px;
		
	}
}

@media only screen and (max-width: 834px) and (min-width : 767px)
{
	/* Menu nav formulaire filtres */
	#Section1
	{
		margin: 0 25px;
	}

	.filters
	{
		margin-top: 15px;
		padding-right: 0;
	}	


}

@media only screen and (min-width : 200px)
{
	.blocPage
	{
		width: calc(100% - 90px);
		margin: auto;
	}
}