.sectionHostingAside
{
	display: flex;
}

.sectionHosting
{
    background-color: #F2F2F2;
	border-radius: 25px;
	padding-top: 20px;
	margin-right: 30px;
	width: 75%;
}

.sectionHosting h2
{
	padding-left: 45px;
	font-size: 1em;
	margin-top: 0;
}

.imgHosting
{
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1080px;
	margin: auto;
}

.sectionHosting h4
{
    margin: 0;
	padding-left: 30px;
	padding-bottom: 30px;
	font-size: 0.8em;
}

@media only screen and (max-width : 1025px) and (min-width : 767px)
{
	.sectionHosting
	{
		width: 100%;
	}

	.sectionHosting h2
	{
		text-align: center;
	}

	.sectionHosting h4
	{
		text-align: center;
	}
}

/* Responsive mobile size */
@media screen and (max-width: 767px)
{
	.sectionHosting
	{
		width:auto;
		background-color: white;
		margin-right: 0;
	}

	.sectionHosting h2
	{
		text-align: center;
		padding-left: 0;
	}

	.sectionHosting h4
	{
		text-align: center;
		padding-left: 0;
	}

	.sectionHostingAside
	{
		flex-direction: column-reverse;
		align-items: center;
	}
}