.sectionHebergementAside
{
	display: flex;
}

.sectionHebergement
{
    background-color: #F2F2F2;
	border-radius: 25px;
	padding-top: 20px;
	margin-right: 30px;
	width: 75%;
}

.sectionHebergement h2
{
	padding-left: 45px;
	font-size: 1em;
	margin-top: 0;
}

.imgHebergement
{
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1080px;
	margin: auto;
}

.sectionHebergement h4
{
    margin: 0;
	padding-left: 30px;
	padding-bottom: 30px;
	font-size: 0.8em;
}


