.hostingPage
{
	width: calc(100% - 90px);
	margin: auto;
}


.abovefilterbtn
{
    margin-top: 10px;
}


.filterBtn button
{
    margin-right: 10px;
    margin-top: 15px;
    padding: 1em 1.5em;
    border: 0; 
    border-radius: 15px;
}

.filterBtn .cancelBtn
{
    background-color: #F2F2F2;
}

.filterBtn .cancelBtn:hover
{
    background-color: rgb(209, 86, 86);
    color: white;
}

.filterBtn .priceUp i
{
    color: #0065FC;
}

.filterBtn .priceDown i
{
    color: #0065FC;
}

.filterBtn .grade i
{
    color: #0065FC;
}

.filterBtn .btn-inactive
{
    background-color: #DEEBFF;
}

.filterBtn .btn-inactive:hover
{
    background-color: #0065FC;
	color: white;
}

.filterBtn .btn-active
{
	background-color: #0065FC;
	color: white;
}

.filterBtn button:hover
{
    transform: scale(1.10);
}


.mainHostingSection
{
    background-color: #F2F2F2;
	border-radius: 25px;
	padding-top: 50px;
    margin-top: 50px;
	margin-right: 30px;
}



.mainImgHosting {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
}

.loadMore
{
    margin: 0;
	padding-left: 30px;
	padding-bottom: 30px;
	font-size: 0.8em;
}

@media only screen and (min-width : 350px) and (max-width : 560px)
{
    .mainHostingSection
{

    width: 100%;
}
}

