.banner
{
	display: flex;
    justify-content: flex-end;
}

.banner a
{
    font-size: 0.9em;
	color: gray;
	text-decoration: none;
	line-height: 30px;	
    margin: 20px;
}

.banner a:hover
{
	color: #0065FC;
	font-weight: bold;
}

.banner .nav-active
{
	color: #0065FC;
	border-bottom: #0065FC solid 4px;
}

